p {
    color: #666;
}

.uk-nav li a div {
    color: #666;
}

.other-values {
    background-color: #82B4C4;
}

.other-values h3 {
    color: white;
}

.other-values p {
    color: white;
    /*font-size: x-large;*/
}

#mean, #stddev, #sigma, #total, #today {
    font-size: xx-large;
}

.elemez-enter {
    margin-top: 100px;
}

.metric-status {
    padding-right: 20px;
}

.header {
    height: 20px;
    padding: 15px;
    background-color: #3E3E3E;
}

.header a {
    color: white;
    float: right;
    font-size: x-small;
}

.header a:visited {
    color: white;
}

.footer {
    box-sizing: border-box;
    height: 200px;
    background-color: #3E3E3E;
    margin-top: 70px;
    padding: 40px;
}

.footer img {
    width: 100px;
}

.footer p {
    color: white;
}

.spinner {
  margin-top: 100px;
}
